#root {
  display: flex;
  justify-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: max-content;
  margin-top: 0;
}

@font-face {
  font-family: "logo-font";
  src: url("./assets/fonts/SnowtopCaps.otf");
}

@font-face {
  font-family: "App-font";
  src: url("./assets/fonts/OpenSans-Bold.ttf");
}
